<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="gunicorn" 
                  arguments="--bind=0.0.0.0 --timeout 600 app:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="python.log"
                  startupTimeLimit="60"
                  requestTimeout="00:10:00">
    </httpPlatform>
  </system.webServer>
</configuration>
